{% extends 'front/base.html' %}
{% load static %}
{% block content %}

<div class="wrapper">
    <div class="parallax filter-black">
        <div class="parallax-image">
            <img src="{% static 'front/img/pemandangan.jpg' %}">
        </div>
        <div class="small-info">
            <h1>Tentang Saya</h1>
            <h3>Motivasi menulis diantaranya ingin menghasilkan suatu karya, ingin mendapatkan penghargaan, ingin berdakwah, ingin mendokumentasikan ilmu, berbagi ilmu pengetahuan sehingga bisa menjadi ladang amal, pekerjaan, kenaikan pangkat, kebahagiaan, mendapatkan sertifikat, menghasilkan uang, dan lain sebagainya.</h3>
        </div>
    </div>

    <div class="section">
           <div class="container">
               <h2 class="section-title">Tentang berita</h2>
               <div class="row">
                   <div class="col-md-6">
                       <p>
                        Berita adalah informasi baru atau informasi mengenai sesuatu yang sedang terjadi, disajikan lewat bentuk cetak, siaran, Internet, atau dari mulut ke mulut kepada orang ketiga atau orang banyak. </p>
                        </p </p>

                   </div>
                     <div class="col-md-6">
                       <p>
               </div>
           </div>
    </div><!-- section -->

    <div class="section">
      
                   
                                
                    
                            <hr>
                            <div class="text-center">
                                <button href="#" class="btn btn-social btn-twitter btn-simple"><i class="fa fa-twitter"></i></button>
                                <button href="#" class="btn btn-social btn-github btn-simple"><i class="fa fa-github"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end section meet our team -->

    <div class="section section-gray">
        <div class="container">
            <h2 class="section-title"></small></h2>
            <div class="team-presentation">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-user">
                            
                            <hr>
                            <div class="text-center">
                                <button href="#" class="btn btn-social btn-facebook btn-simple"><i class="fa fa-facebook-square"></i></button>
                                <button href="#" class="btn btn-social btn-twitter btn-simple"><i class="fa fa-twitter"></i></button>
                                <button href="#" class="btn btn-social btn-google btn-simple"><i class="fa fa-google-plus-square"></i></button>

                            </div>
                        </div> <!-- end card-->
                   
                    </div>
                   
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end section meet our team -->


    <div class="section">
        <div class="container">
            <h2 class="section-title">Working Flow</h2>
            <div class="clients-presentation">
                <div class="row">
                    <div class="col-md-3">
                       <div class="info">
                            <div class="icon">
                                <i class="pe-7s-note2"></i>
                            </div>
                            <div class="description">
                                <h3> 1. Research </h3>
                                <p class="text-muted">We've been working with Apple for a new Touch ID. </p>
                            </div>
                        </div>
                     </div>
                     <div class="col-md-3">
                       <div class="info">
                            <div class="icon">
                                <i class="pe-7s-scissors"></i>
                            </div>
                            <div class="description">
                                <h3> 2. Design </h3>
                                <p class="text-muted">There were many changes for the new design of Windows. </p>
                            </div>
                        </div>
                     </div>
                     <div class="col-md-3">
                       <div class="info">
                            <div class="icon">
                                <i class="pe-7s-tools"></i>
                            </div>
                            <div class="description">
                                <h3> 3. Develop </h3>
                                <p class="text-muted">Working with big data about business is never easy.</p>
                            </div>
                        </div>
                     </div>
                     <div class="col-md-3">
                        <div class="info">
                            <div class="icon">
                                <i class="pe-7s-paint"></i>
                            </div>
                            <div class="description">
                                <h3> 4. Polish </h3>
                                <p class="text-muted">We developed the Dropbox App for iOS devices. </p>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div> <!-- end section meet our clients -->

     <div class="section">
        <div class="container">
            <h2 class="section-title">Our Office</h2>
            <div class="row">
                <div class="col-md-4">
                        <div class="card card-plain">
                        <div class="image">
                            <img src="{% static 'front/img/thumb.jpg' %}" alt="..."/>
                            <div class="filter">
                                <button type="button" class="btn btn-neutral btn-simple">
                                    <i class="fa fa-image"></i> View Image
                                </button>
                            </div>
                        </div>
                    </div> <!-- end card -->
                </div>
                <div class="col-md-8">
                        <div class="card card-plain">
                        <div class="image">
                            <img src="{% static 'front/img/thumb.jpg' %}" alt="..."/>
                            <div class="filter">
                                <button type="button" class="btn btn-neutral btn-simple">
                                    <i class="fa fa-image"></i> View Image
                                </button>
                            </div>
                        </div>
                    </div> <!-- end card -->
                </div>
                <div class="col-md-8">
                        <div class="card card-plain">
                        <div class="image">
                            <img src="{% static 'front/img/thumb.jpg' %}" alt="..."/>
                            <div class="filter">
                                <button type="button" class="btn btn-neutral btn-simple">
                                    <i class="fa fa-image"></i> View Image
                                </button>
                            </div>
                        </div>
                    </div> <!-- end card -->
                </div>

                <div class="col-md-4">
                        <div class="card card-plain">
                        <div class="image">
                            <img src="{% static 'front/img/thumb.jpg' %}" alt="..."/>
                            <div class="filter">
                                <button type="button" class="btn btn-neutral btn-simple">
                                    <i class="fa fa-image"></i> View Image
                                </button>
                            </div>
                        </div>
                    </div> <!-- end card -->
                </div>

                <div class="col-md-4">
                        <div class="card card-plain">
                        <div class="image">
                            <img src="{% static 'front/img/thumb.jpg' %}" alt="..."/>
                            <div class="filter">
                                <button type="button" class="btn btn-neutral btn-simple">
                                    <i class="fa fa-image"></i> View Image
                                </button>
                            </div>
                        </div>
                    </div> <!-- end card -->
                </div>
                <div class="col-md-4">
                        <div class="card card-plain">
                        <div class="image">
                            <img src="{% static 'front/img/thumb.jpg'%}" alt="..."/>
                            <div class="filter">
                                <button type="button" class="btn btn-neutral btn-simple">
                                    <i class="fa fa-image"></i> View Image
                                </button>
                            </div>
                        </div>
                    </div> <!-- end card -->
                </div>
                <div class="col-md-4">
                        <div class="card card-plain">
                        <div class="image">
                            <img src="{% static 'front/img/thumb.jpg'%}" alt="..."/>
                            <div class="filter">
                                <button type="button" class="btn btn-neutral btn-simple">
                                    <i class="fa fa-image"></i> View Image
                                </button>
                            </div>
                        </div>
                    </div> <!-- end card -->
                </div>


            </div>
        </div>
    </div> <!-- end section meet our clients -->

     <div class="subscribe-line subscribe-line-default">
             <div class="container">
                <div class="row">
                     <div class="col-md-9">
                        <form class="">
                             <div class="form-group">
                                  <input type="text" value="" class="form-control" placeholder="Enter your email here...">
                             </div>
                         </form>
                     </div>
                     <div class="col-md-3">
                         <button type="button" class="btn btn-info btn-fill btn-block">Join our team!</button>
                     </div>
                </div>
             </div>
         </div>

    <footer class="footer footer-black">
            <div class="container">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Company
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Portfolio
                            </a>
                        </li>
                        <li>
                            <a href="#">
                               Blog
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="social-area pull-right">
                    <a class="btn btn-social btn-facebook btn-simple">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                    <a class="btn btn-social btn-twitter btn-simple">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-social btn-pinterest btn-simple">
                        <i class="fa fa-pinterest"></i>
                    </a>
                </div>
                <div class="copyright">
                    &copy; 2016 <a href="http://www.creative-tim.com">Creative Tim</a>, made with love
                </div>
            </div>
        </footer>


</div> <!-- wrapper -->
{% endblock content %}